{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Forum Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="header center">
    <a href="/">
        <h1>Book Forum</h1>
    </a>
</header>
<section class="login content">
    <div class="login_container">
        <h2>Login</h2>
        {% if form.errors %}
            <p class="left">Your username and password didn't match. Please try again.</p>
        {% endif %}
        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
        <form method="post" class="login_form" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="input_div">
                <p class="field_desc">Username</p>
                <p class="field">{{ form.username }}</p>
            </div>
            <div class="input_div">
                <p class="field_desc">Password</p>
                <p class="field">{{ form.password }}</p>
                <p><a class="lost_password" href="/registration">Don`t have an account?</a></p>
            </div>
            <div>
                <input type="submit" value="Log in" class="btn btn-primary forum_btn"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>
        </form>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>