* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 50px;
    background: #323232;
}

.header > a,
.header > a:focus,
.header > a:hover {
    text-decoration: none;
    color: white;
}

.header > a > h1,
.header > a > h1:focus,
.header > a > h1:hover {
    color: white;
}

.login {
    text-align: center;
}

.login_container {
    border: 1px solid #e4e6e8;
    border-radius: 5px;
    width: 300px;
    margin: 50px auto 0;
    padding: 30px;
}

.login_form {
    text-align: left;
}

.field_desc {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.input_div {
    margin-top: 30px;
    width: 100%;
}

.forum_btn {
    margin-top: 20px;

}

.lost_password,
.lost_password:focus,
.lost_password:hover {
    text-decoration: none;
}

.field {
    height: 20px;
    border-radius: 5px;
}

.green_btn {
    background-color: #7BA60D;
    margin: 5px;
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.center {
    text-align: center;
}

.header > a > .small_text {
    margin-right: 20px;
    margin-top: 13px;
}

.small_text {
    font-size: 15px;
}

.log_out {
    color: white;
    margin-top: 12px;
    cursor: pointer;
}

.username:focus,
.username:hover {
    text-decoration: underline white;
}

.logged_out {
    margin: 10px;
    font-size: 25px;
}

.logged_out_link {
    margin-left: 10px;

}