* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 50px;
    background: #323232;
}

.header > a,
.header > a:focus,
.header > a:hover {
    text-decoration: none;
    color: white;
}

.header > a > h1,
.header > a > h1:focus,
.header > a > h1:hover {
    color: white;
}

.login,
.registration,
.password_reset {
    text-align: center;
}

.login_container,
.registration_container,
.password_reset_container {
    border: 1px solid #e4e6e8;
    border-radius: 5px;
    width: 400px;
    margin: 50px auto 50px;
    padding: 30px;
}

.login_form,
.registration_form,
.password_reset_form {
    text-align: left;
}

.field_desc {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.input_div {
    margin-top: 30px;
    width: 100%;
}

.forum_btn {
    margin-top: 20px;

}

.lost_password,
.lost_password:focus,
.lost_password:hover {
    text-decoration: none;
}

.field {
    height: 20px;
    border-radius: 5px;
}

.field > input {
    width: 300px;
}

.green_btn {
    background-color: #7BA60D;
    margin: 5px;
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.header > a > .small_text {
    margin-right: 20px;
    margin-top: 13px;
}

.small_text {
    font-size: 15px;
}

.log_out {
    color: white;
    margin-top: 12px;
    cursor: pointer;
}

.username {
    color: white;
    margin-top: 12px;
    margin-right: 50px;
}

.username > a {
    color: white;
}

.username:focus,
.username:hover {
    text-decoration: underline white;
    cursor: pointer;
}

.logged_out {
    margin: 10px;
    font-size: 25px;
}

.log_out:focus,
.log_out:hover {
    text-decoration: none;
    color: white;
}

.logged_out_link {
    margin-left: 10px;
}

.sign_in_text,
.sign_in_text:focus,
.sign_in_text:hover {
    color: white;
    margin-top: 12px;
    text-decoration: none;
    margin-right: 20px;
}

.left_sidebar {
    list-style: none;
}

.left_sidebar > li {
    margin-top: 20px;
    padding: 5px 50px 5px 30px;
}

.left_sidebar > li:focus,
.left_sidebar > li:hover {
    background-color: #F2F2F2;
}

.left_sidebar > li > a,
.left_sidebar > li > a:focus,
.left_sidebar > li > a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.list {
    border-right: 1px solid #D6D9DC;
    display: inline-block;
    height: calc(100vh - 50px);
}

.page {
    overflow-y: auto;
}

.head {
    margin-top: 15px;
    width: 60vw;
}

.head > h2 {
    margin-left: 20px;
    margin-right: 10px;
}

.head > button {
    margin-right: 20px;
}

.posts_count {
    font-size: 20px;
    color: #382D3D;
    margin-left: 20px;
    margin-right: 10px;
}

.post {
    padding: 20px;
}

.post_header {
    color: #0F7DD2;
    font-size: 25px;
    font-weight: bold;
}

.post_text {
    color: black;
    font-size: 20px;
}

.input_error {
    color: red;
}

.tag {
    background-color: #CEE0ED;
    padding: 5px;
    border-radius: 5px;
}

.tag_name {
    color: #0F68BF;
    font-size: 20px;
}

.time > p {
    font-size: 15px;
    margin-right: 10px;
}

.post_username {
    font-size: 20px;
    cursor: pointer;
}

.post_username:focus,
.post_username:hover {
    color: #79E1FF;
    text-decoration: underline #79E1FF;
}

.no_posts {
    margin: 20px;
}

.create_post_btn {
    height: 40px;
}

.active_tab {
    background-color: #F2F2F2;
    height: 30px;
    border-right: 2px solid #E47249;
}

.search_field {
    border: 1px solid #66BFFF;
    border-radius: 5px;
    padding: 5px;
}

.search_field:focus,
.search_field:hover {
    border: 3px solid #D9EFFF;
}

.users_head {
    margin-left: 20px;
    margin-top: 15px;
    width: 95vw;
}