{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Forum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/jquery.tag-editor.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="header container-fluid d-flex justify-content-between">
    <a href="/">
        <h1>Book Forum</h1>
    </a>
    {% if user.is_authenticated %}
        <div class="d-flex justify-content-end">
            <span class="username"><a href="/profile">{{ user.username }}</a></span>
            <a class="log_out" href="/logout">
                <p class="small_text">Log out</p>
            </a>
        </div>
    {% else %}
        <div class="d-flex justify-content-end">
            <a class="sign_in_text" href="/login">
                <p class="small_text">Sign In</p>
            </a>
            <button class="btn-default green_btn small_text" onclick="location.href='/registration'">Create Account
            </button>
        </div>
    {% endif %}
</header>
<div class="content">
    <div class="list">
        <ul class="top_sidebar">
            <li id="posts"><a href="/posts">Posts</a></li>
            <li id="books"><a href="/books">Books</a></li>
            <li id="tags"><a href="/tags">Tags</a></li>
            <li id="users"><a href="/users">Users</a></li>
            {% if user.is_authenticated %}
                <li id="profile"><a href="/profile">Profile</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="page">
        {% if books %}
            <div class="head d-flex justify-content-between">
                <h2>All Books</h2>
                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-primary create_post_btn" data-toggle="modal"
                            data-target="#uploadBookModal">Upload Book
                    </button>
                {% endif %}
            </div>
            <div class="posts_count">
                <p>{{ books.count }} books</p>
            </div>
            <input type="text" class="search_field ml-3" placeholder="Search book"/>
            <hr>
            {% for book in books %}
                <div class="book">
                    <p class="book_header" onclick="location.href = '/books/{{ book.id }}/'">{{ book.name }}</p>
                    <p class="book_text">{{ book.description }}</p>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex"></div>
                        <div class="time">
                            <p>Published at {{ book.create }} by <a class="book_username"
                                                                    href="/profile/{{ book.creator }}"><span>{{ book.creator }}</span></a>
                            </p>
                        </div>
                    </div>
                    <hr/>
                </div>
            {% endfor %}
        {% else %}
            <div class="center">
                <h2 class="no_posts">No books yet. But you can upload the first!</h2><br>
                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-primary create_post_btn" data-toggle="modal"
                            data-target="#uploadBookModal">
                        Upload Book
                    </button>
                {% else %}
                    <button class="btn btn-primary create_post_btn" onclick="location.href = '/login'">Sign In
                        And Upload Book
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
<div class="modal fade" id="uploadBookModal" tabindex="-1" role="dialog" aria-labelledby="uploadBookLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" class="book_uploading_form" action="/books/upload/" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadBookLabel">Upload New Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for field in form %}
                        <p class="field_desc">{{ field.label }}</p>
                        <p class="field">{{ field }}</p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.caret.js' %}"></script>
<script src="{% static 'js/jquery.tag-editor.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(function () {
        $(".search_field").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $(".book").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
</html>