{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IT Forum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="header container-fluid d-flex justify-content-between">
    <a href="/">
        <h1>IT Forum</h1>
    </a>
    {% if user.is_authenticated %}
        <div class="d-flex justify-content-end">
            <span class="username"><a href="/profile/{{ user.username }}">{{ user.username }}</a></span>
            <a class="log_out" href="/logout">
                <p class="small_text">Log out</p>
            </a>
        </div>
    {% else %}
        <div class="d-flex justify-content-end">
            <a class="sign_in_text" href="/login">
                <p class="small_text">Sign In</p>
            </a>
            <button class="btn-default green_btn small_text" onclick="location.href='/registration'">Create Account
            </button>
        </div>
    {% endif %}
</header>
<section class="middle d-flex content">
    <div class="list">
        <ul class="left_sidebar">
            <li id="posts"><a href="/posts">Posts</a></li>
            <li id="tags"><a href="/tags">Tags</a></li>
            <li is="users"><a href="/users">Users</a></li>
        </ul>
    </div>
    <div class="page">

    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>