{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IT Forum Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="header container-fluid d-flex justify-content-between">
    <a href="/">
        <h1>IT Forum</h1>
    </a>
    {% if user.is_authenticated %}
        <div class="d-flex justify-content-end">
            <span class="username"><a href="/profile">{{ user.username }}</a></span>
            <a class="log_out" href="/logout">
                <p class="small_text">Log out</p>
            </a>
        </div>
    {% else %}
        <div class="d-flex justify-content-end">
            <a class="sign_in_text" href="/login">
                <p class="small_text">Sign In</p>
            </a>
            <button class="btn-default green_btn small_text" onclick="location.href='/registration'">Create Account
            </button>
        </div>
    {% endif %}
</header>
<div class="content">
    <div class="list">
        <ul class="left_sidebar">
            <li id="posts"><a href="/posts">Posts</a></li>
            <li id="tags"><a href="/tags">Tags</a></li>
            <li id="users"><a href="/users">Users</a></li>
            {% if user.is_authenticated %}
                <li id="profile"><a href="/profile">Profile</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="page">
        <h1 class="post_desc_header">{{ post.theme }}</h1>
        <hr/>
        <p class="post_desc_context">{{ post.context }}</p>
        <div class="ml-4 d-flex">
            {% for tag in post.tags.all %}
                <div class="tag">
                    <a class="tag_name"
                       href="/posts?tag={{ tag.name }}"><span>{{ tag }}</span></a>
                </div>
            {% endfor %}
        </div>
        <hr/>
        {% if user.is_authenticated %}
            <form action="posts/{{ post.id }}/comment/" method="post" id="comment_form">
                {% csrf_token %}
                <h3 class="ml-4">Your answer</h3>
                <label class="ml-4 text_area_parent">
                    <textarea class="comment_text_area" required></textarea>
                </label>
                <div id="results"></div>
                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-primary post_answer_btn" value="Post Your Answer"/>
                </div>
            </form>
            <hr/>
        {% else %}
        {% endif %}
        <div class="comments ml-4">
            {% if comments %}
                <h2 class="post_desc_header">Answers</h2>
                <hr/>
                {% for comment in comments %}
                    <div class="comment d-block">
                        <p class="comment_text">{{ comment.context }}</p>
                        <div class="d-flex justify-content-end mr-5">
                            <div class="d-inline comment_info">
                                <p>Answered at {{ comment.create }}</p>
                                <p class="user" onclick="location.href = '/profile/{{ comment.creator }}/'"> by
                                    <span>{{ comment.creator }}</span></p>
                            </div>
                        </div>
                        <hr/>
                    </div>
                {% endfor %}
            {% else %}
                <h2>No comments yet!</h2>
            {% endif %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>