{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IT Forum Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="header container-fluid d-flex justify-content-between">
    <a href="/">
        <h1>IT Forum</h1>
    </a>
    {% if user.is_authenticated %}
        <div class="d-flex justify-content-end">
            <span class="username"><a href="/profile">{{ user.username }}</a></span>
            <a class="log_out" href="/logout">
                <p class="small_text">Log out</p>
            </a>
        </div>
    {% else %}
        <div class="d-flex justify-content-end">
            <a class="sign_in_text" href="/login">
                <p class="small_text">Sign In</p>
            </a>
            <button class="btn-default green_btn small_text" onclick="location.href='/registration'">Create Account
            </button>
        </div>
    {% endif %}
</header>
<section class="d-flex content">
    <div class="list">
        <ul class="left_sidebar">
            <li id="posts"><a href="/posts">Posts</a></li>
            <li id="tags"><a href="/tags">Tags</a></li>
            <li id="users"><a href="/users">Users</a></li>
            {% if user.is_authenticated %}
                <li id="profile"><a href="/profile">Profile</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="page">
        <h2 class="mt-5 ml-5">{{ profile.user }} Profile</h2>
        <div class="users_head d-flex">
            <div class="div">
                {% if profile.photo %}
                    <img src="{{ profile.photo.url }}" alt="User Image" title="User Image" class="user_profile_img mt-5">
                {% else %}
                    <img src="{% static 'img/default-user.png' %}" alt="User Image" title="User Image"
                         class="user_profile_img mt-5">
                {% endif %}
            </div>
            <div class="info mt-5">
                {% if profile.about %}
                    <p class="info_header">About: <span class="info_info">{{ profile.about }}</span></p>
                {% endif %}
                {% if profile.count_posts %}
                    <p class="info_header">Count of posted posts: <span
                            class="info_info">{{ profile.count_posts }}</span></p>
                {% endif %}
                {% if profile.count_tags %}
                    <p class="info_header">Count of created tags: <span
                            class="info_info">{{ profile.count_tags }}</span></p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>